{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Group Two - ToDo App</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="static/todo/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="static/todo/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="static/todo/css/responsive.css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'todo/images/group_two.ico' %}">
  <style>
    #my-btn {
      border-radius: 30px;
      background: linear-gradient(90deg, #ff00bf9b 0%, #c6ff6932 43%, #0099ff9d 100%);
      color: #00000;
      box-shadow: none;
      padding: 10px 20px;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href="#">
            <img src="static/todo/images/logo.png" alt="" />
            <span>
              GROUP TWO - TO DO APP
            </span>
          </a>
          
          <div class="call_btn">
            <a href="#">
              
            </a>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <section class="slider_section">
      <div class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-3 col-lg-2 offset-md-2">
                  <div class="detail-box">
                    <h1>
                      ToDo App 
                    </h1>
                    <p>
                      Stay Organized, Get It Done: Your Ultimate To-Do Companion!
                    </p>
                    <div >
                      {% comment %} <a href="">
                        Get Started Today
                      </a> {% endcomment %}
                      <button id="my-btn">Click To Get Started Today</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-7 col-lg-8">
                  <div class="img-box">
                    <img src="static/todo/images/hero.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>

  <script src="static/todo/js/jquery-3.4.1.min.js"></script>
  <script src="static/todo/js/bootstrap.js"></script>
  <script src="static/todo/js/circles.min.js"></script>
  <script src="static/todo/js/custom.js"></script>

  <!-- Add the script to redirect to the todo app URL. -->
  <script>
      var btn = document.getElementById('my-btn');
      btn.addEventListener('click', function() {
          window.location.href = "{% url 'task' %}";
      });
  </script>

</body>
</html>